type: project
workspace: {workspace}
project:
  key: {key}
  name: "{name}"
  project_uuid: {project_uuid}
  description: ""
  timezone: UTC
defaults:
  type: Task
  workflow: default
template: default
features:
  efforts: false
  components: false
  hierarchy: false
  relation_enforcement: false
  workflows: true
